body {
  margin: 0;
  padding: 30px;
  font-family: sans-serif;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.App h2 {
  color: white;
}

.kanbanboard-container {
  display: flex;
}

.kanbanboard-container .board {
  border: 1px solid black;
  width: 200px;
  min-height: 300px;
  text-align: center;
  color: white;
  background-color: rgba(46, 37, 37, 0.664);
}

/* Input Form */
.input-form-container {
  margin-top: 3px;
}

.input-form-container input {
  color: white;
  background-color: rgba(23, 38, 88, 0.774);
  border: none;
  font-size: 15px;
  padding: 7px;
}

.input-form-container button {
  margin-left: 3px;
  color: white;
  background-color: darkkhaki;
  padding: 9px;
  border: none;
  border-radius: 5px;
}

.input-form-container button:hover {
  background-color: rgb(110, 107, 61);
  color: black;
}

/* List Item */

.list-item {
  margin: 0 5px 5px 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(94, 118, 163);
}

.list-item p {
  font-size: 20px;
}

.list-item-button-container button {
  width: 100px;
  padding: 5px;
  background-color: rgb(216, 198, 43);
}

.list-item-button-container button:hover {
  background-color: rgb(143, 132, 32);
}

/* Modal */

.modal-container {
  position: fixed;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(81, 79, 200);
  width: 300px;
  height: 300px;
  padding: 20px;
}

.modal p {
  color: white;
}

.modal input {
  padding: 9px;
  font-size: 12px;
  margin-right: 4px;
}

.modal button {
  padding: 9px;
  border: none;
  border-radius: 5px;
  background-color: rgb(216, 198, 43);
}

.modal button:hover {
  background-color: rgb(143, 132, 32);
}